{% extends "base.html" %}
{% block content %}

    <h3 class="blue-grey-text text-darken-4 center-align">Edit Character</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_character', character_id=character._id) }}">
            <!-- character name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix blue-grey-text text-darken-4"></i>
                    <input id="character_name" name="character_name" maxlength="50"
                        type="text" class="validate">
                    <label for="character_name">{{ character.character_name }}</label>
                </div>
            </div>
            <!-- race and class selection -->
            <div class="row">
                <div class="input-field col s6">
                     <i class="fas fa-users prefix blue-grey-text text-darken-4"></i>
                     <select id="race" name="race" class="validate" required>
                         <option value="" disabled selected>{{ character.race }}</option>
                         {% for race in races %}
                             {% if character.race == race.race %}
                                 <option value="{{ race.race }}" selected>{{ race.race }}</option>
                             {% else %}
                                 <option value="{{ race }}">{{ race.race }}</option>
                             {% endif %}
                         {% endfor %}
                     </select>
                     <label for="race">Race</label>
                </div>
                <div class="input-field col s6">
                    <i class="fas fa-wand=sparkles prefix blue-grey-text text-darken-4"></i>
                    <select id="class_name" name="class_name" class="validate" required>
                        <option value="" disabled selected>{{ character.class_name }}</option>
                        {% for character_class in character_classes %}
                            {% if character_class.class_name == character.class_name %}
                                <option value="{{ character_class.class_name }}" selected>{{ character_class.class_name }}</option>
                            {% else %}
                                <option value="{{ character_class.class_name }}">{{ character_class.class_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="class_name">Class</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-users prefix blue-grey-text text-darken-4"></i>
                    <select id="background_name" name="background_name" class="validate" required>
                        <option value="" disabled selected>{{ character.background_name }}</option>
                        {% for background in backgrounds %}
                            {% if background.background_name == character.background_name %}
                                <option value="{{ background.background_name }}" selected>{{ character.background_name }}</option>
                            {% else %}
                                <option value="{{ background }}">{{ background.background_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="background_name">Background</label>
                </div>
            </div>
            <!-- Stats -->
            <div class="row">
                <div class="input-field col s1 offset-s2">
                    <i class="fas fa-weight-hanging prefix blue-grey-text text-darken-4"></i>
                    <input id="character_strength" name="character_strength" minlength="1" maxlength="2"
                        value="{{ character.character_strength }}" type="text" class="validate">
                    <label for="character_strength">{{ character.character_strength }}</label>
                </div>
                <div class="input-field col s1 offset-s2">
                    <i class="fas fa-gauge-high prefix blue-grey-text text-darken-4"></i>
                    <input id="character_dexterity" name="character_dexterity" minlength="1" maxlength="2"
                        value = "{{ character.character_dexterity }}" type="text" class="validate">
                    <label for="character_dexterity">{{ character.character_dexterity }}</label>
                </div>
                <div class="input-field col s1 offset-s2">
                    <i class="fas fa-person-falling-burst prefix blue-grey-text text-darken-4"></i>
                    <input id="character_constitution" name="character_constitution" minlength="1" maxlength="2"
                        value="{{ character.character_constitution }}" type="text" class="validate">
                    <label for="character_constitution">{{ character.character_constitution }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s1 offset-s2">
                    <i class="fas fa-lightbulb prefix blue-grey-text text-darken-4"></i>
                    <input id="character_strength" name="character_strength" minlength="1" maxlength="2"
                        value="{{ character.character_wisdom }}" type="text" class="validate">
                    <label for="character_strength">{{ character.character_wisdom }}</label>
                </div>
                <div class="input-field col s1 offset-s2">
                    <i class="fas fa-brain prefix blue-grey-text text-darken-4"></i>
                    <input id="character_dexterity" name="character_dexterity" minlength="1" maxlength="2"
                        value="{{ character.character_intelligence }}" type="text" class="validate">
                    <label for="character_dexterity">{{ character.character_intelligence }}</label>
                </div>
                <div class="input-field col s1 offset-s2">
                    <i class="fas fa-comments prefix blue-grey-text text-darken-4"></i>
                    <input id="character_constitution" name="character_constitution" minlength="1" maxlength="2"
                        value="{{ character.character_charisma }}" type="text" class="validate">
                    <label for="character_constitution">{{ character.character_charisma }}</label>
                </div>
            </div>
            <!-- submit edits button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large blue-grey darken-4">
                        Submit Changes<i class="fas fa-plus-square right"></i>
                    </button>
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
            
{% endblock%}